.profile{
    border-right: 5px solid;
    background: rgb(247, 241, 230); 
    padding: 10px; 
    margin: 2px; 
    width: 500px; 
    height: 200px;
  }

@media (max-width: 400px) {
    .profile{
        border-right: 5px solid;
        background: rgb(247, 241, 230); 
        padding: 10px; 
        margin: 2px; 
        width: 250px; 
        height: 300px;
    }
  }
